.viewport{
    height: 100vh;
    background-image: url('../img/fondo.jpg');
}
img{
    width: 15%;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}
ul{
    background-color: rgba(0, 255, 255, 0.5);
}