.circulo1{
    border: 0.2rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: red;
}
.circulo2{
    border: 0.2rem;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    background-color: rgba(0, 0, 255, 0.5);
    float: left;
}
.circulo2:hover{
    transform: translateY(-10rem);
}